* {
	font-family: Droid Sans;
	padding: 0;
	margin: 0;
	border: 0;
	border-image-width:0;
	font-size:12pt;
}

h1 {
	color: orange;
	font-size:16pt;
}

div {
	margin:25px 10px;
}

.warn {
	color: red;
}

input[type='text'] {
	border: 1px solid black;
	margin: 5px;
}